#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white; 
}

.but_delete:hover{
  color: rgb(0, 0, 0);
  background-color: red;
}
.but_delete{
  display: block;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  background-color: red;
}

.but_edit:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(5, 187, 253);
}
.but_edit{
  display: block;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  background-color: rgb(25, 0, 255);
}
.demo{
  display: flex;
      justify-content: space-evenly;
}